<!--show a location image if there is one. If not show a button to click to pick a location-->
<div class="picker">
	<ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
	<ion-img
		role="button"
		class="location-image"
		(click)="onPickLocation()"
		[src]="selectedLocationImage"
		*ngIf="selectedLocationImage && !isLoading && showPreview">
	</ion-img>
	<ion-button
		color="primary"
		(click)="onPickLocation()"
		*ngIf="(!selectedLocationImage || !showPreview) && !isLoading">
		<ion-icon name="map" slot="start"></ion-icon>
		<ion-label>Select Location</ion-label>
	</ion-button>
</div>