<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!--side menu link to list of places-->
        <ion-item lines="none" routerLink="/places/tabs/discover">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>
        <!--side menu link to list of bookings-->
        <ion-item lines="none" routerLink="/bookings">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Your Bookings</ion-label>
        </ion-item>
        <!--side menu link to a logout function-->
        <ion-item lines="none" (click)="onLogout()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
